

.landing{
    background-color:#100615 ;
    overflow: hidden;
    position: relative;
}



/* PROFILE SETTINGS START */

.profile{
    display: flex;
    align-items: center;
    position: absolute;
    z-index: 15;
    top: 40%;
    left: 5%;
}


.profile>article{   
    margin: 0 0 0 50px;
    background-color: #100615;
    padding: 5px;
    border-radius: 20px;
}

.profile>article>h1{
    font-size: 4em;
    letter-spacing: 5px;
}

.profile>article>p{

    font-size: 2em;
    font-style: italic;
    font-weight: 100;
}

/* PROFILE SETTINGS END */

/* IMAGES SETTINGS START*/

.bottom{

    width: 82vw;  
    height: 100vh;

}

#triangule2{

    position: absolute;
    width: 82vw;
    bottom: 0;
    right: 0;

}

#triangule1{

    position: absolute;
    width: 80vw;
    bottom: 0;
    right: 0;
    z-index: 1;
}

#cellphone{

    position: absolute;
    z-index: 10;
    left: 50%;
    bottom: 5%;
    width: 35vw;
}

#rocket{

    position: absolute;
    top: 0;
    left: 10%;
    width: 40vw;
}


#solarsystem{

    position: absolute;
    top: -20%;
    left: 65%;
    width:600px;
    transform: scaleX(-1);
}

#stars{

    position: absolute;
    top: 40%;
    left:5%;
    width: 30vw;
}

/* IMAGES SETTINGS END*/

/* ABOUT ME SECTION START*/


.aboutme{
    position: relative;
    overflow: hidden;
    background-color: #100615;
    border-top: 10px solid #3F0071;
    
}


.aboutme>h1{
    font-size:4em;
    font-style: italic;
    font-weight: 300;
    width: 100%;
    text-align: center;
    margin-top: 8vh;
}
#cat-astronaut{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 15;
    width: 25vw;
}
#profile2{

    width: 15vw;
    border-radius: 50%;
    position: absolute;
    top: -10%;
    border: 20px solid #150050;
    

}

#content-aboutme{
    position: absolute;
    bottom: 0;
    height: 70vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #150050;

}
#content-aboutme>article{

    margin-top: 100px;
    background-color: #3F0071 ;
    width: 70vw;
    padding: 25px;
    border-radius:40px ;
    display: flex;
    align-items: center;

}

#content-aboutme>article>p{

    font-style: italic;
    font-weight: 100;
    text-align: justify;
    font-size: 3vh;
    width: 40vw;
    padding-right: 30px;

}

#exp{
    display: flex;
    align-items: center;
    flex-direction: column;
}

#list-exp{
    list-style: none;
    width: 20vw;
    margin-left: 50px;
}

#exp>h1{
    font-size: 2vw;
    text-align: center;
    margin-bottom: 20px;
}
#list-exp>li{

    display: flex;
    align-items: center;
    font-size: 2vw;

}

/* ABOUT ME SECTION END*/


/* PROJECTS SECTION START*/

.projects{
    position: relative;
    overflow: hidden;
    background-color: #100615;
    border-top: 10px solid #3F0071;
}

.projects>h1{
    font-size:4em;
    font-style: italic;
    font-weight: 300;
    width: 100%;
    text-align: center;
}
.container-projects{
  
    position: absolute;
    bottom: 0;
    height: 80vh;
    width: 100%;
    background-color: #150050;
    border-top: 3vw solid #0e0035;
    display: flex;
    align-items: center;
    justify-content: space-evenly;


}
.project{

    background-color: white;
    height:30vh;
    width: 20vw;
    border-radius: 20px;
    background-color: black;
    overflow: hidden;
    transition: 1s ease;
    cursor: pointer;
}
.project>h1{
    background-color: black;
    padding: 1vh;
    width: 100%;
}
.project:hover{
    transform: scale(1.1);
}

#project1{
    background-image: url(../img/calculator-thumb.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
#project2{
    background-image: url(../img/jordans-thumb.jpg);
    
    background-position: center;
    background-repeat: no-repeat;
}
#project3{
    background-image: url(../img/bootstrap-thumb.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
a{
    text-decoration: none;
}

/* PROJECTS SECTION END*/



/* CONTACT SECTION START*/


.contact{
    position: relative;
    overflow: hidden;
    background-color: #100615;
    border-top: 10px solid #3F0071;
}

.contact>h1{
    font-size:4em;
    font-style: italic;
    font-weight: 300;
    width: 100%;
    text-align: center;
    margin-top: 8vh;
}
.container-contact{
    
    position: absolute;
    bottom: 0;
    height: 70vh;
    width: 100%;
    background-color: #150050;
    border-top:20px solid #0E0035 ;
    display: flex;
    justify-content: center;


}
#profile-contact{
    top: -10%;
    width: 15vw;
    border-radius: 50%;
    position: absolute;
    z-index:20;

    border: 20px solid #150050;
}

.contacts{

    position: absolute;
    bottom: 50px;
    height: 60%;
    width: 80%;
    background-color: #3F0071;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.contact-item{

    border-radius: 50%;
    width: 10vh;
    cursor: pointer;
    transition: 0.5s ease;

}
.contact-item:hover{
    transform: scale(1.1);
    border-radius: 10px;
}

/* CONTACT SECTION END*/


/* RESPONSIVE*/



@media only screen and (max-width: 1200px) {



    .navegation{
        display: none;
    }
    .container{
        width: 100vw;
    }

    

    #solarsystem{

        top: -10%;
        left: 40%;
        width:600px;
    }
    #rocket{

        top: 10%;
        left: 0%;
        width: 40vw;
    }


    #stars{

        top: 30%;
        left:5%;
        width: 60vw;
    }

    #cat-astronaut{

        width: 20vh;
        position: absolute;
        top: 20%;
        z-index: 15;
    }
    #content-aboutme>article>p{

        font-size: 2vw;
        width: 40vw;
    
    }
    .container-projects{
        flex-direction: column;
        height: 85vh;
    }

    .project{
        width: 40vw;
        height: 20vh;
    }
    #content-aboutme>article{

        flex-direction: column;
        width: 90vw;
    }


    #content-aboutme>article>p{

        margin-top: 50px;
        width: 80vw;
        font-size: 3vw;

    }
    
    #exp{
        
        width: 100%;
        flex-direction: row;
        justify-content: space-evenly;
        
    }
    #exp>h1{
        font-size: 3vh;
        margin-top: 3vh;
    }
    
    ul{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    #profile2{

        width: 30vh;
    
    }
    #profile-contact{

        width: 30vh;
    }
    
  }

  @media only screen and (max-width: 800px) {

   


    #solarsystem{

        top: 10%;
        left: 30%;
        width:600px;
    }

    #cellphone{

        position: absolute;
        z-index: 10;
        left: 60%;
        bottom: 0;
        width: 40vw;
    }

    #profile2{

        width: 20vh;
    
    }

  }


@media only screen and (max-width: 600px) {


    .profile>article{   
        margin: 0 0 0 0px;
    }
    

    #solarsystem{

        top: 10%;
        left: 50%;
        width:250px;
        z-index: 20;
    }
    #rocket{

        top: 20%;
        left:0%;
        width: 60vw;
    }


    #stars{

        top: 50%;
        left:5%;
        width: 90vw;
    }


    #content-aboutme>article>p{

        height:35vh;
        font-size:4vw;
    }

    #exp>h1{
        margin-top: 0;
        font-size: 12pt;}
        #list-exp>li{

           font-size: 6pt;
        }

    #exp{
        align-items: center;
        justify-content: center;
    }
    .contact-item{

        border-radius: 50%;
        width: 7vh;
        cursor: pointer;
        transition: 0.5s ease;
    
    }
}