




body{
   
    
    background-color: #100615;
    display: flex;
    overflow: hidden
    
}



.navegation{
    z-index: 15;
}


#profile-img{

    z-index: 15;

}


#img1{

    z-index: 11;

}

#img2{

    z-index: 10;

}

#img3{
    z-index: 12;
}


#img4{
   
    z-index: 0;

}

#img5{
    z-index: 0;
}

#img6{

    z-index: 0;
}