@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,400;1,100;1,300&display=swap');



*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    color: white;
}




body{
      
    background-color: #100615;
    display: flex;
    
}

.container{


    position: absolute;
    right: 0;
    width: 82vw;  
    
}
.container>section{
    height: 100vh;
}


