#img1 {

    position: fixed;
    right: 0;
    bottom: 0;
    width: 60vw;
    overflow: hidden;

}

#img2 {
    width: 63vw;
    position: fixed;
    right: 0;
    bottom: 0;
   
}
#img3{
    width: 30vw;
    position: absolute;
    right: 5%;
    bottom: 5%;

}

#img4{
    width: 40vw;
    position: absolute;
    bottom: 0;
    overflow: hidden;
}



#img6{

    width: 50vw;
    position:absolute;
    top: 0;
    left: 50%;
}

.profile {
    display: flex;
    align-items: center;
    margin-left: 8vw;
    margin-top: 14vh;
    position: absolute;
    z-index: 16;
    
}

#profile-img {

    width: 300px;
    border-radius: 50%;
    border: 5px solid #610094;
}

.message {

    margin-left: 4vw;

}

#main-title {

    font-size: 7vh;
    letter-spacing: 0.2vw;
    z-index: 14;
    background-color:#100615;
    padding: 5px;
    border-radius: 20px;
  
}

#main-subtitle{

    font-size: 2.5vh;
    font-style: italic;
    letter-spacing: 0.2vw;
    background-color:#100615;
    padding: 5px;
    border-radius: 20px;
    





}
