



.navegation{

    width: 18vw;
    height: 100vh;
    position: fixed;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color:#3F0071 ;
    background-image: url(../img/background.gif);

}



.navegation header{

    background-color: #610094;
    height: 10vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

}


#title-nav{
    text-align: center;
    font-size: 2vw;
    font-weight: 300;
}

#list-style{

    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.list-item{

    cursor: pointer;
    padding: 20px 30px;
    margin-top: 10vh;
    font-size: 1.5vw;
}

footer{
    font-size: 8pt;
    position: absolute;
	bottom: 0;
    height: 8vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color:rgba(0, 0, 0, 0.377) ;
    padding: 10px;
}